* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  color: #333;
  background-color: rgb(13, 17, 29);
}

main {

  padding: 1rem;
  max-width: 960px;
  background-color: aliceblue;
  margin: 0 auto;


}





form.login, form.register {
  max-width: 400px;
  margin: 0 auto;

}





form.login h1, form.register h1 {
  text-align: center;
}